/*----------- MAPAS ------------*/

$footer: (
    color-fondo: #232323,
    color-letra: #999,
    color-letraEnlace: #ccc,
    color-hover:#fff,
    borde-footer:1px solid #ccc,
    color-Enlace: #333333,
);

$footerDos: (
    color-fondo: #191919,
    color-letra: #777,
    color-letraEnlace: #aaa,
    color-hover:#fff,
);

$coloresLetras: (
    color-principal: #0052cf,
    color-secundario:rgb(248,247,247),
    Color-oscuro:#191919, 
    color-claro:#888888,
    color-importante:red,
    
);

$coloresFondos: (
    color-principal: #0052cf,
    color-menu: #333333,
    color-box: #f0f4ff,
    color-boxup: #d7dff5,
    color-secundario: rgb(248,247,247),
    color-importante:rgb(242, 242, 163),
)